/* TimeZoneSlider.css */

/* Common styles for both light and dark modes */
.time-zone-slider {
    border: 1px solid #ccc;
    padding: 30px;
    margin: 10px;
    background-color: #f0f0f0;
    height: 60%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins', sans-serif;
    text-align: left;
  }
  
  /* Container styles */
  .slider-container {
    width: 80%; /* Adjust the width of the slider container */
    margin: 10px auto; /* Center the container horizontally */
  }
  
  /* Header styles */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 550;
  }
  
  /* Slider styles */
  .slider {
    width: 100%;
    
  }
  .current-timezone {
    background-color: rgb(189, 189, 17); /* Set your desired highlight style */
  }
  
  
  /* Customize the appearance of the slider handle */
  .rc-slider-handle {
  
    background-color: #007bff; /* Handle background color */
    border: 2px solid #007bff; /* Handle border color */
    box-shadow: none; /* Remove handle shadow */
    transition: background-color 0.2s, border-color 0.2s; /* Add transition */
    cursor: pointer;
  }
  
  /* Handle hover styles */
  .rc-slider-handle:hover {
    background-color: #0056b3; /* Handle background color on hover */
    border-color: #0056b3; /* Handle border color on hover */
  }
  
  /* Customize the color of the track */
  .rc-slider-track {
    background-color: #007bff; /* Track background color */
  }
  
  /* Customize the color of the marks and labels */
  .rc-slider-mark-text {
    color: #333;
  }
  
  /* Current date and time styles */
  .slider-time, .current-date {
    text-align: left;
    
    /* font-size: 20px; */
  }
  
  /* Remove button styles */
  button {
    background-color: #d9534f;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  /* Remove button hover styles */
  button:hover {
    background-color: #c9302c;
  }
  .dark-mode button:hover{
    background-color: #007bff;
  }
  /* Dark mode styles */
  .dark-mode .time-zone-slider {
    background-color: #fff; /* Dark mode background color */
    color: #222; /* Dark mode text color */
    border-color: #555; /* Dark mode border color */
  }
  
  .dark-mode .rc-slider-handle {
    background-color: rgb(83, 206, 255);; /* Customize handle background color in dark mode */
    border-color: #035dbd; /* Customize handle border color in dark mode */
    color: #222; /* Customize handle text color in dark mode */
  }
  
  .dark-mode .rc-slider-track {
    background-color: rgb(83, 206, 255);; /* Customize track color in dark mode */
  }
  
  .dark-mode .rc-slider-mark-text {
    color: #222; /* Customize mark text color in dark mode */
  }
  
  .dark-mode .slider-time, .dark-mode .current-date {
    color: #222; /* Customize text color in dark mode */
  }
  
  .dark-mode button {
    background-color: rgb(83, 206, 255); /* Customize button background color in dark mode */
  }
  /*adding tooltip below*/
  /* Add a tooltip style */
  .tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip:hover::after {
    content: attr(title);
    background-color: yellow; /* Tooltip background color */
    color: #fff; /* Tooltip text color */
    padding: 5px; /* Adjust padding as needed */
    border-radius: 5px;
    position: absolute;
    left: 100%; /* Position the tooltip to the right of the h2 element */
    top: 0;
    z-index: 1;
    white-space: nowrap;
    opacity: 0.9; /* Adjust opacity as needed */
    transition: opacity 0.2s;
    
  }
  